Repository cms-gem-daq-project/vfatqc-python-scripts, pull requests merged in 2018-08, with the labels that each got.

#196 New Feature: Readback Channel Registers in Python Tools [V3]
  confChamber.py
  qcutilities.py
  ultraScurve.py
  ultraThreshold.py
Labels: Priority: High, Status: Review Needed, Type: Enhancement

#195 adding chan argument to ultraLatency.py [V3]
  ultraLatency.py
Labels: Priority: Low, Status: Review Needed, Type: Enhancement

#197 WIP: Fixed run_scans.py to run in series mode with ultraLatency.py
  run_scans.py
Labels: Priority: Medium, Status: Revision Needed, Type: Enhancement
