Repository cms-gem-daq-project/vfatqc-python-scripts, pull requests merged in 2018-11, with the labels that each got.

#211 [V3] Update confAllChambers.py
  confAllChambers.py
Labels: PR: reviewed-approved, Priority: High, Status: Review Needed, Type: Enhancement, Type: Maintenance

#212 remove slc6 template from travis builds
  .travis.yml
Labels: PR: reviewed-approved, Type: Maintenance

#214 Bug Fix [V3]: Adding back geographic addressing for ultraLatency.py
  run_scans.py
  ultraLatency.py
Labels: PR: reviewed-approved, Priority: High, Type: Bugfix, Type: Enhancement

#216 [V3] Bug Fix: resolved type error in gemDacCalTreeStructure
  treeStructure.py
Labels: PR: reviewed-approved, Priority: Medium, Status: Review Needed, Type: Bugfix, Type: Maintenance
