Repository cms-gem-daq-project/vfatqc-python-scripts, pull requests merged in 2019-03, with the labels that each got.

#220 New Feature: Connectivity Testing Script
  GEMDAQTestSuite.py
  Makefile
  buildConfig.py
  checkSbitMappingAndRate.py
  confAllChambers.py
  confChamber.py
  dacScanV3.py
  fastLatency.py
  monitorTemperatures.py
  run_scans.py
  sbitReadOut.py
  sbitThreshScanParallel.py
  sbitThreshScanSeries.py
  testConnectivity.py
  trimChamber.py
  trimChamberV3.py
  ultraLatency.py
  ultraScurve.py
  ultraThreshold.py
  utils/__init__.py
  utils/confUtils.py
  utils/qcoptions.py
  utils/qcutilities.py
  utils/scanUtils.py
  utils/treeStructure.py
Labels: PR: reviewed-approved, Priority: High, Status: Review Needed, Type: Enhancement

#227 Bug Fix: Addresses #226
  testConnectivity.py
Labels: PR: reviewed-approved, Priority: High, Type: Bugfix

#228 Hotfix: testConnectivity will make directories in $DATA_PATH if they do not exist
  testConnectivity.py
Labels: PR: reviewed-approved, Priority: Critical, Type: Bugfix, Type: Maintenance

#229 New Feature: Exclusive Geographic Addressing, DB Interface Tool & Multi uTCA Crate Functionality
  Makefile
  checkSbitMappingAndRate.py
  confAllChambers.py
  confChamber.py
  dacScanV3.py
  getCalInfoFromDB.py
  monitorTemperatures.py
  run_scans.py
  sbitReadOut.py
  sbitThreshScanParallel.py
  sbitThreshScanSeries.py
  testConnectivity.py
  trimChamber.py
  trimChamberV3.py
  ultraLatency.py
  ultraScurve.py
  ultraThreshold.py
  utils/confUtils.py
  utils/namespace.py
  utils/qcoptions.py
  utils/qcutilities.py
  utils/scanUtils.py
  utils/treeStructure.py
Labels: PR: reviewed-approved, Priority: High, Status: Review Needed, Type: Enhancement

#234 Bug Fix: Addresses #233
  testConnectivity.py
Labels: PR: reviewed-approved, Priority: Critical, Type: Bugfix

#232 Add link status check to test connectivity
  testConnectivity.py
Labels: PR: reviewed-approved, Priority: High, Status: Accepted, Status: Revision Needed

#231 New Feature: SBIT Thresh Scan does all links at once
  Makefile
  dacScanV3.py
  run_scans.py
  sbitThreshScanParallel.py
  sbitThreshScanSeries.py
  utils/scanUtils.py
  utils/treeStructure.py
Labels: PR: reviewed-approved, Priority: High, Status: Review Needed, Type: Enhancement

#235 ignoreSyncErrs flag will also ignore phase finding errors
  testConnectivity.py
Labels: PR: reviewed-approved, Priority: High, Status: Review Needed, Type: Enhancement
